@font-face{
font-family:'Helvetica Neue Regular';
src: url('/fonts/HelveticaNeue-Regular.otf') format('opentype');
}
@font-face{
font-family:'Helvetica Neue Bold';
src: url('/fonts/HelveticaNeue-Bold.otf') format('opentype');
}